/* eZPublishLegacy.com Styles */

/* HomePage Folder Column Width Supression */
div#columns.homepage {
    padding-left: 0px;
}

/* Header Styles */
div#logo {
    margin-left: 0px;
    margin-top: 0px;
    top: 0px;
}

div#logo-text {
    display:inline;
    top: 0px;
    margin-left: 1.5em;
}

div#logo-text h1 {
    display: inline;
    position: relative;
    top: -50px;
    left: -20px;
}

div#header {
    border-bottom-width: 0px;
    height: 127px;
}

div.hosting-sponsor {
    left: 1.30%;
}



/* END */