/* OVERRIDE CSS - 20120330 */


/* OVERRIDE */

div#logo
{
    position: relative;
    top: 1px; 26px;
    left: -10px;
    top: -14px;
}

div#usermenu {
    display:none;
}

body {
font-family: Tahoma, Arial, Helvetica, sans-serif;
background-image: none;
/*
   background-image: url(images/bg.jpg);
   background-repeat: repeat-x;
*/
}

div.pagenavigator {
font-size: 14px;
font-weight: bold;
text-align: center;
clear: both;
}

div.border-box {
margin-bottom: 1em;
/* width: 60%; */
}


/* div#maincontent div.content-view-full div.class-blog-post div.attribute-url { */
div.attribute-url {
background-color: #F4F4F4;
font-size: 12px;
height: 16px;
margin-top:8px;
/* margin-top: 15px; */
padding-top: 8px;
padding-left: 10px;
padding-bottom: 8px;
margin-bottom: 24px;
}

div.attribute-body {
margin-top: 15px;
margin-bottom: 10px;
}

div#footer {
margin-top: 0;
background-image: none;
height: 145px;
color: white;
padding-top: 44px;
}

div#footer address {
color: black;
font-style: normal;
}
div#footer a {
color: black;
font-style: normal;
}

div#header {
  background-color: #ffffff;
  background-image:none;
  border-bottom-color:#F2F3F5;
  border-bottom-style:solid;
  border-bottom-width:1px;
  height:117px;
  padding-bottom:0;
  padding-left:0;
  padding-right:0;
  padding-top:0;
}

div#searchbox {
  padding-top:39px;
}

input#searchtext {
border: 1px solid #000000;
padding: 1px 3px 1px 3px;
}

input#searchbutton {
background-color: #000000;
border: 1px solid #000000;
background-image: none;
color: white;
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 10px;
cursor: pointer;
}

div#topmenu ul {
background-image: none;
color:#F2F3F5;
}

div#topmenu ul li {
background-image:none;
color:black;
}

div#topmenu {
margin: 0;
padding: 0 0.25em 0 0.2em;
background-color: white;
}

div#topmenu ul li.selected a {
background-image: none;
background-position: top left;
background-repeat: repeat-x;
margin: 0 1px 0 0;
padding-bottom: 0;
border-bottom: none;
color:#f8981d; /* lightgrey; */
}

div#topmenu ul li.selected {
background-image: none;
background-position: right top;
background-repeat: no-repeat;
padding-right: 2px;
}

a {
/* color: #D03030; */
color: #f8981d;
text-decoration: none;
}

div.attribute-header h1 {
padding-bottom: 7px;
}

ul, ol {
margin: 0 0 1em 1em; /* 0.75em 0 1em 2.5em; */
padding: 0;
}

div#page {
border-left: 1px solid #ffffff;
border-right: 1px solid #ffffff;
background-color: white;
}

div#path {
padding: 1em 0em 0em 1em;
margin-bottom: 0.5em;
}

input.button, input.defaultbutton {
background-color: #F2F3F5;
/* background-image: url(images/button_bg.jpg);
background-repeat: repeat-x; */
border: 1px solid #C1C9CC;
color: #000000;
font-family: Tahoma,Arial,Helvetica,sans-serif;
font-size: 11px;
text-align: center;
vertical-align: middle;
}

div.content-view-full div.class-frontpage div.columns-frontpage div.right-column-position {
width: 246px;
margin-right: -231px;
float: right;
}

div#page {
width: 820px;
margin: 0 auto 0 auto;
text-align: left;
}

pre {
overflow: auto;
}

a img {
max-width: 100%;
}

/* GitHub content markup style changes */
div.attribute-body.float-break div.simple {
margin-bottom:10px;
}

div.attribute-body.float-break div.simple div.title {
display: inline;
}

div.attribute-body.float-break div.simple div.time {
display: inline;
}

div.attribute-body.float-break div.time {
display: inline;
}

div.attribute-body.float-break div.title {
display: inline;
}

div.attribute-body.float-break div.details a img.gravatar {
float:left;
padding-right: 0px;
}

div.attribute-body.float-break div.details {
margin-top: 10px;
}

div.attribute-body.float-break div.details div.commits {
position: relative;
left: 25px;
}

div.attribute-body.float-break div.details div.commits.pusher-is-only-committer {
padding-left: 0px;
margin-top: 10px;
}

div.attribute-body.float-break div.details div.commits ul li:not(:first-child) {
padding-left: 20px;
}

div.attribute-body.float-break div.details div.message blockquote {
display: inline;
-webkit-margin-before: 0px;
-webkit-margin-after: 0px;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

div.attribute-body.float-break div.details ul li div.message blockquote {
display: inline;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 12px;
-webkit-margin-end: 40px;
}

div.attribute-body.float-break div.details ul li.more {
margin-top: 10px;
}

div.attribute-body.float-break div.details div.message div.pull-info {
display: inline;
}

div.attribute-body.float-break div.details div.message {
margin-bottom: 8px;
position: relative;
left: 10px;
}

div.attribute-body.float-break div.details strong {
margin-bottom: 8px;
position: relative;
left: 10px;
padding-right:10px;
}

div.attribute-body.float-break > div.jira-issue-key {
display: inline;
}
div.attribute-body.float-break > div.jira-issue-key a.issue-link {
display: inline;
}
div.attribute-body.float-break > div.jira-linking-text {
display: inline;
}
div.attribute-body.float-break > div.linked-jira-issue-key {
display: inline;
}

/* navigator styles */

div.pagenavigator span.previous {
margin-right: 4px;
}

div.pagenavigator span.next {
margin-right: 4px;
}

/* calendar styles */

div.calendar {
margin-bottom: 15px;
}

/* top nav menu improvements */

#node_id_4198 {
background-color: rgba(32, 80, 129, 0.47);
}

/* Generic styles */

.underline {
text-decoration: underline;
}

div.attribute-header h1.long {
padding-bottom: 0px;
}

/* Tag Cloud styles */

.attribute-tag-cloud {
width: 200px;
}

.attribute-tag-cloud ul {
margin: 0;
padding: 0;
list-style: none;
line-height: 2.5em;
/* text-align: center; */
margin-left: 10px;
}

.attribute-tag-cloud ul li {
display: inline-block;
/* margin: 0 9px; */
background-image: none;
padding-left: 4px;
}

.attribute-tag-cloud ul a {
/* color: #333335; */
outline: none;
}

.attribute-tag-cloud ul a:hover {color:#fd9a00;}
.attribute-tag-cloud ul a.tag1 {font-size:0.7em; font-weight:100;}
.attribute-tag-cloud ul a.tag2 {font-size:0.8em; font-weight:200;}
.attribute-tag-cloud ul a.tag3 {font-size:0.9em; font-weight:300;}
.attribute-tag-cloud ul a.tag4 {font-size:1.0em; font-weight:400;}
.attribute-tag-cloud ul a.tag5 {font-size:1.2em; font-weight:500;}
.attribute-tag-cloud ul a.tag6 {font-size:1.4em; font-weight:600;}
.attribute-tag-cloud ul a.tag7 {font-size:1.6em; font-weight:700;}
.attribute-tag-cloud ul a.tag8 {font-size:1.8em; font-weight:800;}
.attribute-tag-cloud ul a.tag9 {font-size:2.2em; font-weight:900;}
.attribute-tag-cloud ul a.tag10 {font-size:2.5em; font-weight:900;}
.attribute-tag-cloud ul a.tag11 {font-size:2.7em; font-weight:900;}

/* Footer Styles */

.hosting-sponsor {
margin-top: 10px;
padding-bottom: 20px;
position: relative;
left: 2.25%;
}

.views {
float: right;
padding-right: 5px;
}

.sidebar-content {
width: 200px;
}

.sidebar-content-container {
width: 210px;
}

div.class-blog-post.float-break div.attribute-header {
word-wrap: break-word;
}

div.content-view-line div.class-blog-post div.attribute-header {
word-wrap: break-word;
}

div.content-view-line div.class-blog-post div.attribute-header a {
max-width: 575px;
overflow: hidden;
word-wrap: break-word;
}

div.content-view-line div.class-blog-post div.attribute-header {
max-width: 575px;
overflow: hidden;
word-wrap: break-word;
}

/* END */